/* Set the width of the sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    padding-top: 20px;
}

/* Style sidebar links */
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
}

/* Change color on hover */
.sidebar a:hover {
    background-color: #555;
    color: #ffffff;
}

/* Main content */
.content {
    margin-left: 250px;
    /* Same as the width of the sidebar */
    padding: 20px;
}

/* Responsive layout - when the screen is less than 768px wide, make the sidebar and the main content area stack on top of each other */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    .content {
        margin-left: 0;
    }
}
